
Read in the CSV file provided and print it to the screen

Find the minimum "views" and maximum "views"

Using the minimum and maximum "views" as a reference, create 10 bins in which to slice the data

Create a new column called "View Group" and fill it with the values collected through your slicing

Group the DataFrame based upon the values within "View Group"

Find out how many rows fall into each group before finding the averages for "comments", "duration", and "languages"

In [2]:
import pandas as pd
csv = pd.read_csv('/Users/maxparry/GitRepos/python-notes/pandas/input_data/ted.csv', encoding='ISO-8859-1')
df = pd.DataFrame(csv)

In [3]:
df.head()

,comments,description,duration,event,languages,main_speaker,name,title,views
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,Do schools kill creativity?,47227110
1,265,With the same humor and humanity he exuded in ...,977,TED2006,43,Al Gore,Al Gore: Averting the climate crisis,Averting the climate crisis,3200520
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,26,David Pogue,David Pogue: Simplicity sells,Simplicity sells,1636292
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,35,Majora Carter,Majora Carter: Greening the ghetto,Greening the ghetto,1697550
4,593,You've never seen data presented like this. Wi...,1190,TED2006,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,The best stats you've ever seen,12005869

In [6]:
df.iloc[df.views.idxmax()]

comments                                                     4553
description     Sir Ken Robinson makes an entertaining and pro...
duration                                                     1164
event                                                     TED2006
languages                                                      60
main_speaker                                         Ken Robinson
name                    Ken Robinson: Do schools kill creativity?
title                                 Do schools kill creativity?
views                                                    47227110
Name: 0, dtype: object

In [7]:
df.iloc[df.views.idxmin()]

comments                                                       20
description     In the midst of an earlier crisis, Haitian aut...
duration                                                     3573
event                                    University of California
languages                                                       0
main_speaker                                     Edwidge Danticat
name                           Edwidge Danticat: Stories of Haiti
title                                            Stories of Haiti
views                                                       50443
Name: 594, dtype: object

In [8]:
maxviews = df.views.max()
minviews = df.views.min()
totrange = maxviews - minviews
rangestep = totrange / 10
bins = []

for i in range(0, 11):
    thebin = (i * rangestep) + minviews
    bins.append(thebin)

In [9]:
bins

[50443.0,
 4768109.7000000002,
 9485776.4000000004,
 14203443.100000001,
 18921109.800000001,
 23638776.5,
 28356443.200000003,
 33074109.900000002,
 37791776.600000001,
 42509443.300000004,
 47227110.0]

In [10]:
binlabels = ['Superfail', 'Abyssmal', 'Terrible', 'Bad', 'OK', 'Alright', 'Fine', 'Good', 'Great', 'Excellent']

In [13]:
binseries = pd.cut(df['views'], bins, labels=binlabels)

In [14]:
binseries.head()

0    Excellent
1    Superfail
2    Superfail
3    Superfail
4     Terrible
Name: views, dtype: category
Categories (10, object): [Superfail < Abyssmal < Terrible < Bad ... Fine < Good < Great < Excellent]

In [23]:
df['Rating'] = binseries

In [24]:
df.head()

,comments,description,duration,event,languages,main_speaker,name,title,views,Rating
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,Do schools kill creativity?,47227110,Excellent
1,265,With the same humor and humanity he exuded in ...,977,TED2006,43,Al Gore,Al Gore: Averting the climate crisis,Averting the climate crisis,3200520,Superfail
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,26,David Pogue,David Pogue: Simplicity sells,Simplicity sells,1636292,Superfail
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,35,Majora Carter,Majora Carter: Greening the ghetto,Greening the ghetto,1697550,Superfail
4,593,You've never seen data presented like this. Wi...,1190,TED2006,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,The best stats you've ever seen,12005869,Terrible

In [21]:
ratinggroup = df.groupby('Rating')

In [29]:
ratinggroup['name'].count()

Rating
Superfail    2435
Abyssmal       78
Terrible       15
Bad            11
OK              6
Alright         0
Fine            1
Good            1
Great           0
Excellent       2
Name: name, dtype: int64

In [30]:
ratinggroup['comments', 'duration', 'languages'].mean()

              comments     duration  languages
Rating
Superfail   172.064887   823.062012  26.758111
Abyssmal    434.897436   844.410256  38.000000
Terrible    779.600000   910.000000  42.800000
Bad         724.909091   950.818182  41.727273
OK          866.000000   861.666667  42.166667
Alright            NaN          NaN        NaN
Fine       1927.000000  1219.000000  52.000000
Good       1930.000000  1084.000000  45.000000
Great              NaN          NaN        NaN
Excellent  3421.500000  1213.000000  55.500000