Read in the CSV file provided and print it to the screen

Find the minimum "views" and maximum "views"

Using the minimum and maximum "views" as a reference, create 10 bins in which to slice the data

Create a new column called "View Group" and fill it with the values collected through your slicing

Group the DataFrame based upon the values within "View Group"

Find out how many rows fall into each group before finding the averages for "comments", "duration", and "languages"

```python
With pd.dataframe(index=[]) as pd
```

In [1]:
import pandas as pd

In [5]:
csv = pd.read_csv('../../input_data/ted.csv', encoding='latin-1')
ted = pd.DataFrame(csv)

In [6]:
ted.head()

,comments,description,duration,event,languages,main_speaker,name,title,views
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,Do schools kill creativity?,47227110
1,265,With the same humor and humanity he exuded in ...,977,TED2006,43,Al Gore,Al Gore: Averting the climate crisis,Averting the climate crisis,3200520
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,26,David Pogue,David Pogue: Simplicity sells,Simplicity sells,1636292
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,35,Majora Carter,Majora Carter: Greening the ghetto,Greening the ghetto,1697550
4,593,You've never seen data presented like this. Wi...,1190,TED2006,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,The best stats you've ever seen,12005869

In [7]:
ted['views'].max()

47227110

In [8]:
ted['views'].min()

50443

In [13]:
47227110 - 50443

47176667

In [14]:
47176667/10

4717666.7

In [19]:
bins = []
for i in range(0,11):
    bins.append((i * 4717666.7) + 50443)

In [20]:
print(bins)

[50443.0, 4768109.7, 9485776.4, 14203443.100000001, 18921109.8, 23638776.5, 28356443.200000003, 33074109.900000002, 37791776.6, 42509443.300000004, 47227110.0]

In [21]:
groups = ['F', 'D-', 'D', 'D+', 'C-', 'C', 'C+', 'B-', 'B', 'B+']

In [25]:
newseries = pd.cut(ted['views'], bins, labels=groups)

In [26]:
ted['grade'] = newseries

In [27]:
ted.head()

,comments,description,duration,event,languages,main_speaker,name,title,views,grade
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,Do schools kill creativity?,47227110,B+
1,265,With the same humor and humanity he exuded in ...,977,TED2006,43,Al Gore,Al Gore: Averting the climate crisis,Averting the climate crisis,3200520,F
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,26,David Pogue,David Pogue: Simplicity sells,Simplicity sells,1636292,F
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,35,Majora Carter,Majora Carter: Greening the ghetto,Greening the ghetto,1697550,F
4,593,You've never seen data presented like this. Wi...,1190,TED2006,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,The best stats you've ever seen,12005869,D

In [29]:
a = ted.groupby('grade')