Instructions:

    •	Read in the CSV file provided and print it to the screen
    
    •	Print out a list of all of the values within the "Preferred Position" column
    
    •	Select a value from this list and create a new DataFrame that only includes players who prefer that position
    
    •	Sort the DataFrame based upon a player's skill in that position
    
    •	Reset the index for the DataFrame so that the index is in order
    
    •	Print out the statistics for the worst player in a position to the screen

In [1]:
import pandas as pd
csv = pd.read_csv('../../input_data/soccer.csv', encoding='ISO-8859-1')
df = pd.DataFrame(csv)
df.head()

,Name,Age,Nationality,Overall,Potential,Club,Preferred Position,CAM,CB,CDM,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,Cristiano Ronaldo,32,Portugal,94.0,94.0,Real Madrid CF,ST,89.0,53.0,62.0,...,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0
1,L. Messi,30,Argentina,93.0,93.0,FC Barcelona,RW,92.0,45.0,59.0,...,57.0,45.0,84.0,59.0,92.0,90.0,88.0,91.0,62.0,88.0
2,Neymar,25,Brazil,92.0,94.0,Paris Saint-Germain,LW,88.0,46.0,59.0,...,59.0,46.0,79.0,59.0,88.0,87.0,84.0,89.0,64.0,84.0
3,L. SuÃ¡rez,30,Uruguay,92.0,92.0,FC Barcelona,ST,87.0,58.0,65.0,...,64.0,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0
4,M. Neuer,31,Germany,92.0,92.0,FC Bayern Munich,GK,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
df['Preferred Position'].unique().tolist()

['ST',
 'RW',
 'LW',
 'GK',
 'CDM',
 'CB',
 'RM',
 'CM',
 'LM',
 'LB',
 'CAM',
 'RB',
 'CF',
 'RWB',
 'LWB',
 nan]

In [3]:
#df.loc['Preferred Position'].

In [4]:
df = df[df['Preferred Position'] == 'ST']

In [5]:
df.head()

,Name,Age,Nationality,Overall,Potential,Club,Preferred Position,CAM,CB,CDM,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,Cristiano Ronaldo,32,Portugal,94.0,94.0,Real Madrid CF,ST,89.0,53.0,62.0,...,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0
3,L. SuÃ¡rez,30,Uruguay,92.0,92.0,FC Barcelona,ST,87.0,58.0,65.0,...,64.0,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0
5,R. Lewandowski,28,Poland,91.0,91.0,FC Bayern Munich,ST,84.0,57.0,62.0,...,58.0,57.0,78.0,62.0,87.0,82.0,88.0,84.0,61.0,88.0
9,G. HiguaÃ­n,29,Argentina,90.0,90.0,Juventus,ST,81.0,46.0,52.0,...,51.0,46.0,71.0,52.0,84.0,79.0,87.0,82.0,55.0,87.0
16,S. AgÃ¼ero,29,Argentina,89.0,89.0,Manchester City,ST,85.0,44.0,54.0,...,52.0,44.0,75.0,54.0,87.0,84.0,86.0,86.0,57.0,86.0

In [6]:
df = df.sort_values(by=['ST'], ascending=False)

In [7]:
df.head(10)

,Name,Age,Nationality,Overall,Potential,Club,Preferred Position,CAM,CB,CDM,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,Cristiano Ronaldo,32,Portugal,94.0,94.0,Real Madrid CF,ST,89.0,53.0,62.0,...,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0
5,R. Lewandowski,28,Poland,91.0,91.0,FC Bayern Munich,ST,84.0,57.0,62.0,...,58.0,57.0,78.0,62.0,87.0,82.0,88.0,84.0,61.0,88.0
3,L. SuÃ¡rez,30,Uruguay,92.0,92.0,FC Barcelona,ST,87.0,58.0,65.0,...,64.0,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0
9,G. HiguaÃ­n,29,Argentina,90.0,90.0,Juventus,ST,81.0,46.0,52.0,...,51.0,46.0,71.0,52.0,84.0,79.0,87.0,82.0,55.0,87.0
16,S. AgÃ¼ero,29,Argentina,89.0,89.0,Manchester City,ST,85.0,44.0,54.0,...,52.0,44.0,75.0,54.0,87.0,84.0,86.0,86.0,57.0,86.0
23,P. Aubameyang,28,Gabon,88.0,88.0,Borussia Dortmund,ST,82.0,52.0,59.0,...,62.0,52.0,74.0,59.0,84.0,83.0,85.0,84.0,65.0,85.0
31,Z. IbrahimoviÄ,35,Sweden,88.0,88.0,Manchester United,ST,83.0,52.0,60.0,...,54.0,52.0,78.0,60.0,83.0,80.0,84.0,82.0,58.0,84.0
38,E. Cavani,30,Uruguay,87.0,87.0,Paris Saint-Germain,ST,80.0,58.0,62.0,...,61.0,58.0,74.0,62.0,82.0,79.0,84.0,80.0,64.0,84.0
46,H. Kane,23,England,86.0,90.0,Tottenham Hotspur,ST,79.0,57.0,62.0,...,60.0,57.0,74.0,62.0,82.0,78.0,84.0,79.0,62.0,84.0
50,R. Lukaku,24,Belgium,86.0,90.0,Manchester United,ST,77.0,53.0,57.0,...,56.0,53.0,71.0,57.0,80.0,77.0,84.0,78.0,58.0,84.0

In [8]:
df = df.set_index(['Name'])

also can do ```reset_index()``` want to add argument ```drop=True``` in order to drop old index

In [9]:
df.head()

,Age,Nationality,Overall,Potential,Club,Preferred Position,CAM,CB,CDM,CF,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
Name,,,,,,,,,,,,,,,,,,,,,
Cristiano Ronaldo,32,Portugal,94.0,94.0,Real Madrid CF,ST,89.0,53.0,62.0,91.0,...,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0
R. Lewandowski,28,Poland,91.0,91.0,FC Bayern Munich,ST,84.0,57.0,62.0,87.0,...,58.0,57.0,78.0,62.0,87.0,82.0,88.0,84.0,61.0,88.0
L. SuÃ¡rez,30,Uruguay,92.0,92.0,FC Barcelona,ST,87.0,58.0,65.0,88.0,...,64.0,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0
G. HiguaÃ­n,29,Argentina,90.0,90.0,Juventus,ST,81.0,46.0,52.0,84.0,...,51.0,46.0,71.0,52.0,84.0,79.0,87.0,82.0,55.0,87.0
S. AgÃ¼ero,29,Argentina,89.0,89.0,Manchester City,ST,85.0,44.0,54.0,87.0,...,52.0,44.0,75.0,54.0,87.0,84.0,86.0,86.0,57.0,86.0

In [10]:
df = df.sort_values(by=['ST'])

In [11]:
worst = df.iloc[[0]]

In [12]:
print(worst)

            Age Nationality  Overall  Potential         Club  \
Name
O. Sowunmi   21     England     59.0       71.0  Yeovil Town

           Preferred Position   CAM    CB   CDM    CF  ...     RB   RCB   RCM  \
Name                                                   ...
O. Sowunmi                 ST  35.0  58.0  47.0  38.0  ...   52.0  58.0  37.0

             RDM    RF    RM    RS    RW   RWB    ST
Name
O. Sowunmi  47.0  38.0  38.0  44.0  37.0  49.0  44.0

[1 rows x 32 columns]