#### Instructions:
 - Create a DataFrame for a frame shop that contains three columns - "Frame", "Price", and "Sales" - and has five rows of data stored within it.
 - Using an alternate method from that used before, create a DataFrame for an art gallery that contains three columns - "Painting", "Price", and "Popularity" - and has four rows of data stored within it.
#### Bonus:
 - Once both of the DataFrames have been created, discuss with those around you which method you prefer to use and why.

In [1]:
import pandas as pd

In [3]:
dict = {'Frame': ['Round', 'Fancy', 'Basic', 'Shaker', 'Modern'],
        'Price': [3.00, 7.00, 2.00, 4.00, 4.00],
        'Sales': [274, 536, 8321, 534, 5344]}

pd.DataFrame(dict, index=['a', 'b', 'c', 'd', 'e'])

    Frame  Price  Sales
a   Round    3.0    274
b   Fancy    7.0    536
c   Basic    2.0   8321
d  Shaker    4.0    534
e  Modern    4.0   5344

In [7]:
dict2 = [{'Painting': 'Mona Lisa', 'Price': 23845, 'Popularity': 10},
         {'Painting': 'Cheshire', 'Price': 28935, 'Popularity': 3},
         {'Painting': 'Alice', 'Price': 28599, 'Popularity': 8}]

pd.DataFrame(dict2)

    Painting  Popularity  Price
0  Mona Lisa          10  23845
1   Cheshire           3  28935
2      Alice           8  28599

Note: these are two ways of putting data into a pandas data frame:
- a dict of lists (good)
- a list of dicts (inefficient)