# Hey, Arnold!
*This assignment will give you experience creating DataFrames from scratch.*
 - You will create a pandas DataFrame of characters from this TV show: https://en.wikipedia.org/wiki/Hey_Arnold!

## Instructions
 1.	First, use Pandas to create a DataFrame with the following columns and values:
  
  - Character_in_show: Arnold, Gerald, Helga, Phoebe, Harold, Eugene
  - color_of_hair: blonde, black, blonde, black, unknown, red
  - Height: average, tallish, tallish, short, tall, short
  - Football_Shaped_Head: True, False, False, False, False, False
  
  
 2.	You'll note that the above column names are inconsistent and difficult to work with. Rename them to the following, respectively:
  
  - Character, Hair Color, Height, Football Head
  
  
 3.	Next, create a new table that contains all of the columns in the following order...
  
  - Character, Football Head, Hair Color, Height
  
  
 4.	Finally, save the file in Excel format..

In [24]:
import numpy as np
import pandas as pd

In [25]:
chardict = {'character_in_show': ['Arnold', 'Gerald', 'Helga', 'Phoebe', 'Harold', 'Eugene'],
            'color_of_hair': ['blonde', 'black', 'blonde', 'black', 'unknown', 'red'],
            'height': ['average', 'tallish', 'tallish', 'short', 'tall', 'short'],
            'football_shaped_head': [True, False, False, False, False, False]}

In [26]:
hadf = pd.DataFrame(chardict)

In [28]:
hadf.rename(columns={'character_in_show':'character',
                     'color_of_hair':'hair color', 
                     'football_shaped_head':'football head'}, inplace=True)

Above argument, ```inplace=True``` is used if you want to rename the dataframe itself (rather than returning the modified dataframe and assigning it to a new variable)

In [29]:
hadf = hadf[['character', 'football head', 'hair color', 'height']]

In [31]:
hadf

  character  football head hair color   height
0    Arnold           True     blonde  average
1    Gerald          False      black  tallish
2     Helga          False     blonde  tallish
3    Phoebe          False      black    short
4    Harold          False    unknown     tall
5    Eugene          False        red    short

Above, you can see that calling out the column names with double brackets returns the dataframe in different column order.
Let see what happens if not all are mentioned:

In [34]:
hadf[['character']]

  character
0    Arnold
1    Gerald
2     Helga
3    Phoebe
4    Harold
5    Eugene

Now we will write the reordered dataframe to a .csv file:

In [36]:
hadf.to_csv('../output_data/heyarnold.csv', sep=',', index=False)

checking in the ```output_data``` folder, you can see it worked.
 - first argument is filepath
 - second is delimiter
 - third is whether to include the index