# We Like Good Movies
## Instructions
 1. Use Pandas to load and display the CSV provided in Resources.
 2. List all the columns in the data set.
 3. We're only interested in IMDb data, so create a new table that takes the Film and all the columns relating to IMDB.
 4. Filter out only the good movies—i.e., any film with an IMDb score greater than or equal to 7.
 5. Find less popular movies that you may not have heard about in 2015 - i.e., anything with under 20K votes
 6. Finally, export this file to a spreadsheet, excluding the index, so we can keep track of our future watchlist.

### To-Do’s


#### Dependencies

 - Load in File
 - file from https://github.com/fivethirtyeight/data/tree/master/fandango
 - 'fandango_score_comparison_csv'

 - Read and display with pandas

 - List all the columns the table provides

 - only care about Imdb, so create a new table that takes the Film and all the columns relating to IMDB

 - List only movies whose ratings are over 7 (out of 10) in IMDB

 - Find lesser-known movies to watch, with fewer than 20K votes

 - Finally, export this file to an Excel spreadsheet -- without the DataFrame index.

In [1]:
import numpy as np
import pandas as pd

In [2]:
csv = pd.read_csv('../input_data/movies.csv')

In [8]:
df = pd.DataFrame(csv)
df.head()

,FILM,RottenTomatoes,RottenTomatoes_User,Metacritic,Metacritic_User,IMDB,Fandango_Stars,Fandango_Ratingvalue,RT_norm,RT_user_norm,...,IMDB_norm,RT_norm_round,RT_user_norm_round,Metacritic_norm_round,Metacritic_user_norm_round,IMDB_norm_round,Metacritic_user_vote_count,IMDB_user_vote_count,Fandango_votes,Fandango_Difference
0,Avengers: Age of Ultron (2015),74,86,66,7.1,7.8,5.0,4.5,3.70,4.3,...,3.90,3.5,4.5,3.5,3.5,4.0,1330,271107,14846,0.5
1,Cinderella (2015),85,80,67,7.5,7.1,5.0,4.5,4.25,4.0,...,3.55,4.5,4.0,3.5,4.0,3.5,249,65709,12640,0.5
2,Ant-Man (2015),80,90,64,8.1,7.8,5.0,4.5,4.00,4.5,...,3.90,4.0,4.5,3.0,4.0,4.0,627,103660,12055,0.5
3,Do You Believe? (2015),18,84,22,4.7,5.4,5.0,4.5,0.90,4.2,...,2.70,1.0,4.0,1.0,2.5,2.5,31,3136,1793,0.5
4,Hot Tub Time Machine 2 (2015),14,28,29,3.4,5.1,3.5,3.0,0.70,1.4,...,2.55,0.5,1.5,1.5,1.5,2.5,88,19560,1021,0.5

In [17]:
df.columns

Index(['FILM', 'RottenTomatoes', 'RottenTomatoes_User', 'Metacritic',
       'Metacritic_User', 'IMDB', 'Fandango_Stars', 'Fandango_Ratingvalue',
       'RT_norm', 'RT_user_norm', 'Metacritic_norm', 'Metacritic_user_nom',
       'IMDB_norm', 'RT_norm_round', 'RT_user_norm_round',
       'Metacritic_norm_round', 'Metacritic_user_norm_round',
       'IMDB_norm_round', 'Metacritic_user_vote_count', 'IMDB_user_vote_count',
       'Fandango_votes', 'Fandango_Difference'],
      dtype='object')

Or for a list:

In [18]:
df.columns.values.tolist()

['FILM',
 'RottenTomatoes',
 'RottenTomatoes_User',
 'Metacritic',
 'Metacritic_User',
 'IMDB',
 'Fandango_Stars',
 'Fandango_Ratingvalue',
 'RT_norm',
 'RT_user_norm',
 'Metacritic_norm',
 'Metacritic_user_nom',
 'IMDB_norm',
 'RT_norm_round',
 'RT_user_norm_round',
 'Metacritic_norm_round',
 'Metacritic_user_norm_round',
 'IMDB_norm_round',
 'Metacritic_user_vote_count',
 'IMDB_user_vote_count',
 'Fandango_votes',
 'Fandango_Difference']

Or for an array:

In [26]:
df.columns.values

array(['FILM', 'RottenTomatoes', 'RottenTomatoes_User', 'Metacritic',
       'Metacritic_User', 'IMDB', 'Fandango_Stars', 'Fandango_Ratingvalue',
       'RT_norm', 'RT_user_norm', 'Metacritic_norm', 'Metacritic_user_nom',
       'IMDB_norm', 'RT_norm_round', 'RT_user_norm_round',
       'Metacritic_norm_round', 'Metacritic_user_norm_round',
       'IMDB_norm_round', 'Metacritic_user_vote_count',
       'IMDB_user_vote_count', 'Fandango_votes', 'Fandango_Difference'], dtype=object)

Or for a series:

In [27]:
pd.Series(df.columns)

0                           FILM
1                 RottenTomatoes
2            RottenTomatoes_User
3                     Metacritic
4                Metacritic_User
5                           IMDB
6                 Fandango_Stars
7           Fandango_Ratingvalue
8                        RT_norm
9                   RT_user_norm
10               Metacritic_norm
11           Metacritic_user_nom
12                     IMDB_norm
13                 RT_norm_round
14            RT_user_norm_round
15         Metacritic_norm_round
16    Metacritic_user_norm_round
17               IMDB_norm_round
18    Metacritic_user_vote_count
19          IMDB_user_vote_count
20                Fandango_votes
21           Fandango_Difference
dtype: object

In [30]:
newdf = df[['FILM', 'IMDB', 'IMDB_norm', 'IMDB_norm_round', 'IMDB_user_vote_count']]
newdf.head()

,FILM,IMDB,IMDB_norm,IMDB_norm_round,IMDB_user_vote_count
0,Avengers: Age of Ultron (2015),7.8,3.90,4.0,271107
1,Cinderella (2015),7.1,3.55,3.5,65709
2,Ant-Man (2015),7.8,3.90,4.0,103660
3,Do You Believe? (2015),5.4,2.70,2.5,3136
4,Hot Tub Time Machine 2 (2015),5.1,2.55,2.5,19560

In [33]:
gooddf = newdf[newdf['IMDB'] >= 7]

In [34]:
gooddf.head()

,FILM,IMDB,IMDB_norm,IMDB_norm_round,IMDB_user_vote_count
0,Avengers: Age of Ultron (2015),7.8,3.90,4.0,271107
1,Cinderella (2015),7.1,3.55,3.5,65709
2,Ant-Man (2015),7.8,3.90,4.0,103660
5,The Water Diviner (2015),7.2,3.60,3.5,39373
8,Shaun the Sheep Movie (2015),7.4,3.70,3.5,12227

In [43]:
gooddf.FILM.count()

68

In [45]:
towatch = gooddf[gooddf['IMDB_user_vote_count'] < 20000]

In [46]:
towatch.head()

,FILM,IMDB,IMDB_norm,IMDB_norm_round,IMDB_user_vote_count
8,Shaun the Sheep Movie (2015),7.4,3.70,3.5,12227
9,Love & Mercy (2015),7.8,3.90,4.0,5367
10,Far From The Madding Crowd (2015),7.2,3.60,3.5,12129
20,"McFarland, USA (2015)",7.5,3.75,4.0,13769
29,The End of the Tour (2015),7.9,3.95,4.0,1320

Now, lets write this to csv

In [47]:
towatch.to_csv('../output_data/movies_to_watch.csv')