In [1]:
import numpy as np
import pandas as pd

In [2]:
dict = {'Dog':['Labrador', 'Pug', 'Boston', 'Pit', 'Retriever'],
        'Weight':[100, 25, 20, 73, 85],
        'Color':['Brown', 'White', 'Black', 'Blue', 'Tan'],
        'Mean?':[False, False, False, True, False]}

In [29]:
dogframe = pd.DataFrame(dict, index=['a', 'b', 'c', 'd', 'e'])
dogframe

   Color        Dog  Mean?  Weight
a  Brown   Labrador  False     100
b  White        Pug  False      25
c  Black     Boston  False      20
d   Blue        Pit   True      73
e    Tan  Retriever  False      85

Also good to note that as well as ```index=[]``` argument, could have ```columns=[]``` as a column label argument

In [7]:
dogframe.iloc[2]

Color      Black
Dog       Boston
Mean?      False
Weight        20
Name: c, dtype: object

In [10]:
dogframe.loc['d']

Color     Blue
Dog        Pit
Mean?     True
Weight      73
Name: d, dtype: object

In [11]:
dogframe.iloc[0:3]

   Color       Dog  Mean?  Weight
a  Brown  Labrador  False     100
b  White       Pug  False      25
c  Black    Boston  False      20

In [12]:
dogframe.columns

Index(['Color', 'Dog', 'Mean?', 'Weight'], dtype='object')

In [14]:
dogframe['Dog'].count()

5

In [15]:
dogframe['Dog'].iloc[2]

'Boston'

In [23]:
dogframe.iloc[2, 1]

'Boston'

In [24]:
dogframe.iloc[:, 1]

a     Labrador
b          Pug
c       Boston
d          Pit
e    Retriever
Name: Dog, dtype: object

In [25]:
dogframe.iloc[1, :]

Color     White
Dog         Pug
Mean?     False
Weight       25
Name: b, dtype: object

In [26]:
dogframe.loc['b', 'Color']

'White'

In [28]:
dogframe.iloc[2:4, 2:4]

   Mean?  Weight
c  False      20
d   True      73

In [34]:
dogframe[(dogframe['Weight'] > 50) | (dogframe['Mean?'] == True)]

   Color        Dog  Mean?  Weight
a  Brown   Labrador  False     100
d   Blue        Pit   True      73
e    Tan  Retriever  False      85